<footer id="sticky-footer" class="py-4 bg-dark text-red">
    <div class="container text-center">
      <small>Copyright &copy; <%= link_to "Neeraja Adi", "https://github.com/NeerajaAdi" %></small>
      
    </div>
</footer>
